<div class="customer-page">

  <app-header></app-header>

<div class="input-and-button">
  <form class="form" [formGroup]="formGroup">
    <mat-form-field class="mat-form">
      <mat-label>Código de Rastreio</mat-label>
      <input formControlName="trackingCode" matInput placeholder="Digite o código de rastreio do seu pedido">
      <mat-hint class="hint-message" align="start"><strong>Insira o código de rastreamento!</strong> </mat-hint>
    </mat-form-field>
</form>

<button [disabled]="!formGroup.valid" mat-fab class="send-button" color="primary" (click)="loadUpdated(formGroup.get('trackingCode')?.value)">
  <mat-icon>arrow_forward_ios</mat-icon>
</button>
</div>

</div>



