<div class="initial-page">

    <app-header></app-header>

    <div class="cards-container">

        <mat-card class="card">
            <mat-card-header>
              <mat-card-title>Rastrear Encomenda</mat-card-title>
              <mat-card-subtitle>Cliente</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://cdn-icons-png.flaticon.com/512/3681/3681701.png">
            <mat-card-content>
              <p>
                Utilize a funcionalidade de rastreio para verificar os detalhes e atualizações das suas encomendas.
              </p>
            </mat-card-content>
            <mat-card-actions>
                <button routerLink="/customer" mat-flat-button color="accent">Acessar</button>
            </mat-card-actions>
          </mat-card>
    
          <mat-card class="card">
            <mat-card-header>
              <mat-card-title>Registrar e Atualizar Encomendas</mat-card-title>
              <mat-card-subtitle>Empresa</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://cdn-icons-png.flaticon.com/512/4394/4394250.png">
            <mat-card-content>
              <p>
                Registre uma nova encomenda solicitada ou atualize o status de uma em processo de entrega.
              </p>
            </mat-card-content>
            <mat-card-actions>
                <button routerLink="/organization" mat-flat-button color="accent">Acessar</button>
            </mat-card-actions>
          </mat-card>

    </div>

</div>